return {
  {
    "nvim-treesitter/nvim-treesitter",
    config = function()
      -- Set install preferences before setup
      require("nvim-treesitter.install").compilers = { "clang" }
      require("nvim-treesitter.install").prefer_git = true

      require("nvim-treesitter.configs").setup({
        ensure_installed = "all",
        sync_install = true,
        highlight = { enable = true },
      })
    end,
  },
}