{
  "filesystem": {
    "command": "{{ .chezmoi.homeDir}}/.local/bin/mise",
    "args": [
	  "x",
	  "--",
	  "npx",
      "-y",
      "@modelcontextprotocol/server-filesystem",
      "d:\\\\p\\\\gh\\\\levonk"
    ],
    "env": {}
  }
}
