{
  "memory": {
    "command": "{{ .chezmoi.homeDir}}/.local/bin/mise",
    "args": [
	  "x",
	  "--",
	  "npx",
      "-y",
      "@modelcontextprotocol/server-memory"
    ],
    "env": {
      "MEMORY_FILE_PATH": "D:\\p\\gh\\levonk"
    }
  }
}
