{
  "serverOrder": [
    "archon",
    "chrome-devtools-mcp",
    "claude-code-mcp",
    "context7",
    "context7-local",
    "copilotkit",
    "eslint-mcp",
    "fetch",
    "filesystem",
    "github-mcp-server",
    "gitmcp",
    "livekit-docs",
    "llm-text",
    "memory",
    "next-devtools",
    "puppeteer",
    "sequential-thinking",
    "serena",
    "time",
    "youtube-transcripts"
  ],
  "enabledByDefault": {
    "archon": true,
    "chrome-devtools-mcp": true,
    "claude-code-mcp": false,
    "context7": true,
    "context7-local": false,
	"copilotkit": false,
    "eslint-mcp": true,
    "fetch": false,
    "filesystem": false,
    "github-mcp-server": false,
    "gitmcp": false,
    "livekit-docs": false,
    "llm-text": false,
    "memory": false,
    "next-devtools": false,
    "puppeteer": false,
    "sequential-thinking": true,
    "serena": true,
    "time": false,
	"youtube-transcripts": true
  }
}
