{
  "puppeteer": {
    "command": "{{ .chezmoi.homeDir}}/.local/bin/mise",
    "args": [
	  "x",
	  "--",
	  "npx",
      "-y",
      "@modelcontextprotocol/server-puppeteer"
    ],
    "env": {}
  }
}
