{
  "sequential-thinking": {
    "command": "{{ .chezmoi.homeDir}}/.local/bin/mise",
    "args": [
	  "x",
	  "--",
	  "npx",
      "-y",
      "@modelcontextprotocol/server-sequential-thinking"
    ],
    "env": {}
  }
}
