---
title:
aliases: []
tags:
  - content
date-created: {YYYY-MM-DD}
date-updated: {YYYY-MM-DD}
status: draft|published
source:
  urls: ["TODO: Add Source URLs"]
  timecoded: true
  channel:
    name: "TODO: Add Channel Name"
    url: "TODO: Add Channel URL"
  duration: "TODO: Add Duration in HH:MM:SS format"
  release_date: "TODO: Add Release Date in YYYY-MM-DD format"
  synopsis: "TODO: Add Synopsis"
render:
  summarize_level: standard
  include_quotes: true
  include_action_items: false
  include_glossary: false
  include_code: false
  language: en
  scope_focus: ""
---

# {Content Title}

## Summary
{multiple sentences summarizing the video}

## Notes
{bullet points that summarize the key points or important moments from the content with explanations}

## Quotes
{bullet points of quotes from the content with context and links}

## Action Items
{bullet points of action items from the content with context and links}

## Glossary
{bullet points of glossary terms from the content with context and links}

## Timecodes
{bullet points of timecodes from the content with links into content}

## See Also
{bullet points of related content not directly referenced by video content (as it should be links within content otherwise) as links either to other notes here, or external sources}

## Transcripts with Timecodes
{bullet points of transcripts with timecodes}
