- Desktop
	- Language: TypeScript
	- Framework: Electron
- Mobile
	- Language
		1 TypeScript + React Native
		2 flutter
		3 Kotlin only when necessary
		4 Swift only when necessary
- Frontend
	- Language: TypeScript
	- Framework: NextJS
	- UI: Tailwind
	- UI: shadcui
- Backend
	- Language: TypeScript
- Database
	- Postgres
- AI
	- Language: DSPy
	- Framework: GEPA
- VCS
	- jj over git
	- GitHub primary
	- Gitlab backup
- infrastructure
	- setup
		- Ansible Galaxy
	- local-env
		- Vagrant
	- package
	 	- multi-layer docker containers
		- docker-compose
	- Deployment
		- pulumi
		- k8s
