- Desktop
	- TypeScript
	- Electron
- Mobile
	- flutter
	- react native
	- Kotlin only when necessary
	- Swift only when necessary
- Frontend
	- TypeScript
	- Tailwind
	- shadcui
	- NextJS
- Backend
	- TypeScript
- Database
	- Postgres
- AI
	- DSPy
	- GEPA
- VCS
	- jj over git
	- GitHub primary
	- Gitlab backup
- infrastructure
	- setup
		- Ansible Galaxy
	- local-env
		- Vagrant
	- package
	 	- multi-layer docker containers
		- docker-compose
	- Deployment
		- pulumi
		- k8s
