{{- /* chezmoi:modify-template */ -}}
{{- if (stat .chezmoi.targetFile) -}}
{{ $configBlock := `
############################################################################
# Defaults

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

Host github.com
\tUser git
\tForwardAgent no
\tForwardX11 no
\tCompression yes

Host *
\tForwardAgent no
\tForwardX11 no
\tCompression yes
` }}
{{- $fileContent := "" -}}
{{- if hasKey .chezmoi "stdin" -}}
  {{- $fileContent = .chezmoi.stdin -}}
{{- end -}}

{{ if not (contains $fileContent $configBlock) -}}
{{ $fileContent }}
{{ $configBlock }}
{{ end }}
{{- else -}}
{{ $configBlock := `
############################################################################
# Defaults

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

Host github.com
\tUser git
\tForwardAgent no
\tForwardX11 no
\tCompression yes

Host *
\tForwardAgent no
\tForwardX11 no
\tCompression yes
` }}
{{ $configBlock }}
{{- end -}}
