{{ includeTemplate "dot_config/ai/rules/general-ai/ai-chat-prompt.md" . }}
{{ includeTemplate "dot_config/ai/rules/general-ai/tone-guidelines.md" . }}
{{ includeTemplate "dot_config/ai/rules/software-dev/general/software-development.md" . }}
{{ includeTemplate "dot_config/ai/rules/general-ai/information-organization.md" . }}
{{ includeTemplate "dot_config/ai/rules/general-ai/feature-matrix.md" . }}
{{ includeTemplate "dot_config/ai/rules/general-ai/markdown-notes.md" . }}
{{ includeTemplate "dot_config/ai/rules/general-ai/architecture-decision-records.md" . }}
