{{ (readFile ".chezmoitemplates/dot_config/ai/rules/general-ai/ai-chat-prompt.md") }}
{{ (readFile ".chezmoitemplates/dot_config/ai/rules/software-dev/general/ai-interaction.md") }}
{{ (readFile ".chezmoitemplates/dot_config/ai/rules/software-dev/general/feature-matrix.md") }}
{{ (readFile ".chezmoitemplates/dot_config/ai/rules/software-dev/general/software-development.md") }}
