{
  "git.openRepositoryInParentFolders": "never",
  "redhat.telemetry.enabled": false,
  "[dart]": {
    "editor.formatOnSave": true,
    "editor.formatOnType": true,
    "editor.rulers": [
      80
    ],
    "editor.selectionHighlight": false,
    "editor.tabCompletion": "onlySnippets",
    "editor.wordBasedSuggestions": "off"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "terminal.integrated.profiles.windows": {
    "PowerShell": {
      "source": "PowerShell",
      "icon": "terminal-powershell"
    },
    "Command Prompt": {
      "path": [
        "${env:windir}\\Sysnative\\cmd.exe",
        "${env:windir}\\System32\\cmd.exe"
      ],
      "args": [],
      "icon": "terminal-cmd"
    },
    "Git Bash": {
      "source": "Git Bash"
    },
    "Debian (WSL)": {
      "path": "C:\\WINDOWS\\System32\\wsl.exe",
      "args": [
        "-d",
        "Debian"
      ]
    }
  },
  "terminal.integrated.defaultProfile.windows": "PowerShell",
  "totalTypeScript.hideAllTips": false,
  "totalTypeScript.hideBasicTips": false,
  "editor.minimap.enabled": false,
  "editor.renderWhitespace": "boundary",
  "editor.insertSpaces": false,
  "ansible.validation.lint.arguments": "ansible-lint",
  "editor.formatOnType": true,
  "ansible.validation.lint.enabled": false,
  "advancedNewFile.exclude": {
    "node_modules": true,
    "node_modules_electron": true,
    "dev": true,
    "dist": true,
    "tmp/db": true
  },
  "remote.autoForwardPortsSource": "hybrid",
  "editor.accessibilitySupport": "off",
  "workbench.colorTheme": "SynthWave84",
  "workbench.iconTheme": "file-icons",
  "editor.formatOnPaste": true,
  "diffEditor.experimental.showMoves": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "scm.diffDecorationsIgnoreTrimWhitespace": "true"
}
