[Desktop Entry]
Type=Application
Name=Clipboard Daemon
Comment=Start clipboard manager appropriate to the session
TryExec=/bin/sh
Exec=sh -c '"$XDG_BIN_HOME/clipboard-daemon.sh" >/dev/null 2>&1 &'
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
