---
modeline: "vim: set ft=markdown:"
title: {Proper Cased Title}
slug: {lowercased-hyphenated-short-slug}
url: {url to this document in GitHub (reference origin) or elsewhere}
synopsis: {Synopsis}
author: {default to https://github.com/levonk}
date-created: {YYYY-MM-DD}
date-updated: {YYYY-MM-DD updated on change}
status: draft|final|archive
version: {0.0.0 incremented on change}
aliases: []
tags: []
related-to: []
{be creative with extensive context specific additional front-matter}
---

# {Title}

---

## {Proper Case Heading}

- {bullet list item 1}
	- {bullet list sub item 1.a}
- {bullet list item 2}

1 {numbered/ordinal list item 1}
	- {numbered/ordinal list sub item 1.a}
1 {numbered/ordinal list item 2}

```mermaid
	{if it embeds text to be used independently, be sure to use code blocks with the proper type/format specifier}
```
**{bold text}**
*{italic text}*
`{inline code}`
_{underline text}_

[{name}]({url to external resource})
[[{internal link|alias}]]


## Footnotes
- {footnotes}

## References
- {links to external resources}

<!-- vim: set ft=markdown: -->
