{{/*
 Turn any repo into a knowledgebase:
    For GitHub repositories: gitmcp.io/{owner}/{repo}
    For GitHub Pages sites: {owner}.gitmcp.io/{repo}
    For a generic tool that supports any repository (dynamic): gitmcp.io/docs
*/}}
{
  "GitMCP": {
    "serverUrl": "https://gitmcp.io/docs",
    "auth": "Open",
    "category": "Software Development",
    "maintainer": "GitMCP",
    "disabled": true
  }
}
