---
modeline: "vim: set ft=markdown:"
title: "{Proper Cased Title}"
slug: {lowercased-kebab-case-short-slug}
url: {url to this document in GitHub (reference origin) or elsewhere}
synopsis: {Synopsis}
author: {default to https://github.com/levonk}
date:
  created: "" # YYYY-MM-DD
  updated: "" # YYYY-MM-DD
version: {0.0.0 incremented on change}
status: "proposed|accepted|rejected|superseded"
aliases: []
tags: [doc/architecture/adr]
related-to: [{slugs list}]
