{{ includeTemplate "dot_config/ai/templates/meta/markdown/markdown-frontmatter-top-template.md.tmpl" . }}
{{ includeTemplate "dot_config/ai/templates/meta/markdown/markdown-frontmatter-mid-template.md.tmpl" . }}
{{ includeTemplate "dot_config/ai/templates/meta/markdown/markdown-managed-comment.md.tmpl" . }}

{{/*vim: ft=markdown :*/}}
