- More than one platform class (e.g. desktop + web, mobile + web)
	- Flutter
- Desktop
	- Language: TypeScript
	- Framework: Electron
- Mobile
	- Language
		1 TypeScript + React Native
		2 flutter
		3 Kotlin only when necessary
		4 Swift only when necessary
- Frontend
	- Language: TypeScript
	- Framework: NextJS
	- UI: Tailwind
	- UI: shadcui
- Backend
	- Language: TypeScript
- Database
	- Postgres
- AI
	- Language: Python
	- Prompts: DSPy
	- Framework: LangFuse, GEPA
- VCS
	- jj over git
	- GitHub primary
	- Gitlab backup
- Testing
	- End-to-End Requirements Testing: Stagecoach
	- End-to-End Use Case Testing: Stagecoach
	- End-to-End Integration Testing: Stagecoach
	- Playwright
	- node: vitest
	- python: pytest
- infrastructure
	- setup
		- Ansible Galaxy
	- local-env
		- Vagrant
	- package
	 	- multi-layer docker containers
		- docker-compose
	- Deployment
		- pulumi
		- k8s
