[settings]
color = true
# Explicitly enable idiomatic version files for selected tools
idiomatic_version_file_enable_tools = ["node", "python", "ruby"]
# mise tool paths early
activate_aggressive = true
auto_install = true
#auto_install_disable_tool = []
# Retain downloaded archives after install
always_keep_download = false
# Keep install files even if install fails
always_keep_install = false
cache_prune_age = "14d"
npm.bun = true


[tools]
    # Corepack to enable pnpm
    node = { version = "22", postinstall = "corepack enable" }

{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
    # Only install on Linux and macOS
    ripgrep = { version = "latest", os = ["linux", "darwin"] }

    # Works with other options
    "cargo:usage-cli" = { version = "latest", os = ["linux", "darwin"], install_env = { RUST_BACKTRACE = "1" } }
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
    # Only install on Windows
    "npm:windows-terminal" = { version = "latest", os = ["windows"] }
{{- end -}}
