# Social Media Analysis
- Brainstorming phase (predomenantly)
	- Novelty - Does it look fresh or is it something people have seen a hundred times?
		- Scale feels familiar or overused all the way to feels new and surprising.
	- Resonance - Does it emotionally connect or leave people indifferent?
		- Scale: People scroll past without feeling anything or people nod, smile, or say things. "That's so true!"?
	- Amplification - Are you adding more punch and power to the idea? Or it just feels plain?
		- Scale: Does it feel flat and lifeless or does it pop off the screen and demand attention?
		- Scale: Feels flat and lacks impact or feels bold, amplified, and full of energy.
- Packaging phase (predomenantly)
	- Clarity - Is the idea clear or are people scratching their heads?
		- Scale: people are scratching their heads or people say, "aha" got it?
	- Speed - When people look at it how quickly do they get the idea?
		- Scale: It takes effort or multiple reads to get it understood in two seconds.
	- Flow - Does the eye flow naturally from top to bottom, left to right, or jump around trying to make sense of it?
		- Scale: Does it guide the viewer smoothly or does it feel chaotic and confusing?
		- Scale: Feels messy and confusing to navigate or easy to follow and pleasant to consume.

## Process Overview
1. Idea
1. Generate Text Elements
1. Concept Brainstorm
	1. Generate Visual Elements
	1. Master Checklist
1. Final Design
