{{ includeTemplate "dot_config/ai/rules/general-ai/ai-chat-prompt.md" . }}
{{ includeTemplate "dot_config/ai/rules/software-dev/general/ai-interaction.md" . }}
{{ includeTemplate "dot_config/ai/rules/software-dev/general/feature-matrix.md" . }}
{{ includeTemplate "dot_config/ai/rules/software-dev/general/software-development.md" . }}
